<!DOCTYPE html>
<html lang="en" dir="ltr" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <title>video feed</title>
    <style>
        #container {
            position: relative;
            height: 100%;
            background-image: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fm.iphotoscrap.com%2FImage%2F457%2F1269150046.jpg&f=1);
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: 0.8;
        }
        
        .vid {
            position: absolute;
            left: 12%;
            right: 3%;
            top: 5%;
        }
    </style>
</head>

<body style="height: 100%; margin: 0;">
    {% block content %}
    <div id="container">
        <div style="position: absolute; left: 1%; top: 2%;">
            <img style="width: 30%;" src="{{ url_for('static', filename='images/astra-logo.png') }}" />
        </div>
        <div class="vid">
            <video style="width: 90%;" controls>
                    <source src="{{ url_for('static', filename='videos/gripper-valve.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>

    {% endblock %}
</body>

</html>